<% products.each do |product| %>
	<div class="col-lg-4">
		<%= image_tag product.url_image %>
	    <h2><%= product.name %></h2>
	    <p><%= link_to 'Ver detalhes ', product_path(product), :class => 'btn btn-primary' %></p>
	</div>
<% end %>