<!DOCTYPE html>
<html>
<head>
  <title>LbvTraining</title>
  <%= stylesheet_link_tag    "init_application", media: "all" %>
  <%= javascript_include_tag "init_application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h3>LBV</h3>
<%= yield %>

</body>
</html>
