<!DOCTYPE html>
<html>
<head>
  <title>TITULO</title>
  <%= stylesheet_link_tag    "init_application", media: "all" %>
  <%= javascript_include_tag "init_application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">

      <!-- The justified navigation menu is meant for single line per list item.
           Multiple lines will require custom code not provided by Bootstrap. -->
      <div class="masthead">
        <h3 class="text-muted">Loja</h3>
      </div>
      <div class="row">
	  	<%= yield %>
      </div>
    </div>
</body>
</html>
